In [72]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
import datetime
from datetime import date

In [73]:
#Import raw datasets from Kaggle
#turkeyEQ = "Data/Turkey_EQ.csv"
#turkey = pd.read_csv(turkeyEQ)

turkeyEQ = pd.read_csv("Data/Turkey_EQ.csv")

#Read .CSV
japanEQ = pd.read_csv("Data/Japan1_EQ.csv")

In [74]:
#examine data
turkeyEQ.head(3)

,No,deprem_kodu,olus_tarihi,olus_zamani,enlem,boylam,derinlik,xM,MD,ML,Mw,Ms,Mb,Tip,Yer
0,16417,1.900090e+13,1900.09.20,00:01.0,37.8,29.1,5.0,5.0,5.0,0.0,NaN,0.0,0.0,Ke,DENIZLI (DENIZLI) [North East 2.3 km]
1,16416,1.901020e+13,1901.02.23,00:00.0,37.9,27.9,15.0,4.8,4.7,4.6,4.8,4.6,4.7,Ke,KENGER- (AYDIN) [North East 1.1 km]
2,16415,1.901030e+13,1901.03.01,00:01.0,38.2,27.7,5.0,5.0,5.0,0.0,NaN,0.0,0.0,Ke,YAKACIK-BAYINDIR (IZMIR) [South West 0.8 km]

In [75]:
#rename translate to english
turkey_df=turkeyEQ.rename(columns={'No':'no', 'deprem_kodu': 'code', 'olus_tarihi': 'date', 'olus_zamani':'time', 'enlem':'latitude'
         ,'derinlik':'longitude','boylam':'depth','xM':'mag','MD':'MD', 'ML':'ML', 'Mw':'Mw', 'Ms':'Ms','Mb':'Mb','Tip':'type' , 'Yer':'place'})

turkey_df.head(2)

,no,code,date,time,latitude,depth,longitude,mag,MD,ML,Mw,Ms,Mb,type,place
0,16417,1.900090e+13,1900.09.20,00:01.0,37.8,29.1,5.0,5.0,5.0,0.0,NaN,0.0,0.0,Ke,DENIZLI (DENIZLI) [North East 2.3 km]
1,16416,1.901020e+13,1901.02.23,00:00.0,37.9,27.9,15.0,4.8,4.7,4.6,4.8,4.6,4.7,Ke,KENGER- (AYDIN) [North East 1.1 km]

In [76]:
#Drop columns not needed
turkey_df.drop(columns=['no', 'code', 'MD', 'ML', 'Mw', 'Ms', 'Mb', 'type'], axis=1, inplace=True)
turkey_df.head(3)

,date,time,latitude,depth,longitude,mag,place
0,1900.09.20,00:01.0,37.8,29.1,5.0,5.0,DENIZLI (DENIZLI) [North East 2.3 km]
1,1901.02.23,00:00.0,37.9,27.9,15.0,4.8,KENGER- (AYDIN) [North East 1.1 km]
2,1901.03.01,00:01.0,38.2,27.7,5.0,5.0,YAKACIK-BAYINDIR (IZMIR) [South West 0.8 km]

In [77]:
#Dtypes
turkey_df.dtypes

date          object
time          object
latitude     float64
depth        float64
longitude    float64
mag          float64
place         object
dtype: object

In [79]:
#Examine data
Japan_df = pd.DataFrame(japanEQ)
Japan_df.head(2)

,date,Time,latitude,longitude,depth,mag,magType,nst,gap,dmin,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,11/27/2018,T14:34:20.900Z,48.3780,154.962,35.00,4.9,mb,NaN,92.0,5.044,...,2018-11-27T16:06:33.040Z,"269km SSW of Severo-Kuril'sk, Russia",earthquake,7.6,1.7,0.036,248.0,reviewed,us,us
1,11/26/2018,T23:33:50.630Z,36.0733,139.783,48.82,4.8,mww,NaN,113.0,1.359,...,2018-11-27T16:44:22.223Z,"3km SSW of Sakai, Japan",earthquake,6.0,6.1,0.071,19.0,reviewed,us,us

In [80]:
#Drop columns not needed
Japan_df.drop(columns=['magType','nst', 'gap', 'dmin', 'rms', 'net', 'id'
                      , 'updated', 'type', 'horizontalError','depthError', 'magError'
                      ,'magNst','status', 'locationSource', 'magSource' ],axis=0, inplace=True)
Japan_df.head(2)

,date,Time,latitude,longitude,depth,mag,place
0,11/27/2018,T14:34:20.900Z,48.3780,154.962,35.00,4.9,"269km SSW of Severo-Kuril'sk, Russia"
1,11/26/2018,T23:33:50.630Z,36.0733,139.783,48.82,4.8,"3km SSW of Sakai, Japan"

In [83]:
Japan_df.dtypes

date          object
Time          object
latitude     float64
longitude    float64
depth        float64
mag          float64
place         object
dtype: object